* {
  color: white;
  font-family: 'Oswald', serif, sans-serif !important;
}

body {
  background-color: black;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
}

li {
  width: 100px;
}

a {
  background-color: #009933 !important;
  border-radius: 10px !important;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

.navigation {

}

.center-stage {

}

#purpose {

}

#blogs {
  display: none;
}

#projects {
  display: none;
}

#gratitude {
  display: none;
}
