* {
  font-family: 'Oswald', serif, sans-serif !important;
}

.footer {
  margin-top: 20px;
  color: gray;
}

p {
  color: white;
}

body {
  background-color: black;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}


ul {
}

li {
  width: 100px;
}

.blog-link {
  color: #009933;
  text-decoration: underline;
}

.button {
  background-color: #009933 !important;
  border-radius: 10px !important;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

.navigation {

}

.center-stage {

}

#purpose {
}

#blogs {
  display: none;
}

#projects {
  display: none;
}

#gratitude {
  display: none;
}
