* {
  font-family: "Oswald", sans-serif;
}

h1 {
  color:white;
}

a {
  color:green;
}

p {
  color:white;
}
div:nth-child(3) {
  float:right;
  position: relative;
}

body {
  background-color: black
}

ul li {
  color:white;
}
