* {
  font-family: "Oswald", sans-serif;
}

h1 {
  color:white;
}

a {
  color:green;
}

p {
  color:white;
}

div img {
  float: right;
  display: block;
}

body {
  background-color: black
}

ul li {
  color:white;
}
